<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bankledger.framework.dao.DBAccountGroupDao">
  	
  	<select id="queryUngroupAccount" resultType="com.bankledger.framework.bean.AccountGroupDaoBean">
  		select ACCOUNT_NO as accountNo,ACCOUNT_ICON as iconCls from bl_account  where ACCOUNT_NO not in(
  			select ACCOUNT_NO from BL_ACCOUNT_GROUP
  		)
  		<if test="null!=accountNo and ''!=accountNo">
  		 	<bind name="pattern" value="'%' + accountNo + '%'" />
  			 and account_no like #{pattern,jdbcType=VARCHAR}
  		</if>
  		
  	</select>
  	
  	<select id="queryGroupAccount" resultType="com.bankledger.framework.bean.AccountGroupDaoBean">
  		select ACCOUNT_NO as accountNo,ACCOUNT_ICON as iconCls from bl_account where ACCOUNT_NO  in(
  			select ACCOUNT_NO from BL_ACCOUNT_GROUP where GROUP_ID=#{groupId}
  		)
  		<if test="null!=accountNo and ''!=accountNo">
  		 	<bind name="pattern" value="'%' + accountNo + '%'" />
  			 and account_no like #{pattern,jdbcType=VARCHAR}
  		</if>
  	</select>
  	
  	<insert id="addToGroup">
  		 <foreach collection="param2" item="item" index="index" open="begin" close=";end;" separator=";">      	
	    	insert into BL_ACCOUNT_GROUP (GROUP_ID,ACCOUNT_NO)
	    	values 
	        (#{param1,jdbcType=VARCHAR},#{item,jdbcType=VARCHAR})  
	    </foreach>
  	</insert>
  	
  	<delete id="removeFromGroup">
  		delete from BL_ACCOUNT_GROUP where GROUP_ID=#{param1} and ACCOUNT_NO in
  		<foreach collection="param2" open="(" close=")" separator="," item="item">
  			#{item,jdbcType=VARCHAR}
  		</foreach>
  	</delete>
  	
  	<delete id="deleteListGroup">
  		delete from BL_ACCOUNT_GROUP where GROUP_ID in
  		<foreach collection="list" open="(" close=")" separator="," item="item">
  			#{item,jdbcType=VARCHAR}
  		</foreach>
  	</delete>
</mapper>