<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bankledger.framework.dao.DBMenuDao">
  	<update id="update">
  		update bl_menu 
  		<trim prefix="set" suffixOverrides=",">
  			<if test="null != menuNameen and '' != menuNameen">
  				menu_name_en=#{menuNameen},menu_name_ch=#{menuNameen},
  			</if>
  			<if test="null != menuNamech and '' != menuNamech">
  				menu_name_ch=#{menuNamech},menu_name_en=#{menuNamech},
  			</if>
  			<if test="null != needAuthFlag and '' != needAuthFlag">
  				auth_flag=#{needAuthFlag},
  			</if>		
				menu_icon=#{menuIcon},	
				menu_type=#{menuFlag},	
				menu_url =#{url},			
  		</trim> 
  		where menu_id=#{menuId}
  	</update>
  	
  	<delete id="deleteList">
  		delete from bl_menu 
  		<where>  
    		menu_id in  
		    <foreach item="item" collection="list" separator="," open="(" close=")" index="">  
		      #{item, jdbcType=VARCHAR}  
		    </foreach>  
       </where> 
  	</delete>
</mapper>